@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    Usuario:
    <input type="text" name="user"/>
    <br />
    Contraseña:
    <input type="password" name="pass"/>
    <br />
    <input type="submit" value="Entrar"/>
</form>
<p>@ViewData["Mensaje"]</p>